body{
    background-color: rgb(204, 249, 131);
    /*background-image: url("IMG/back3.jpg");*/
    text-align: center;
    display: flex;
    justify-content: center;
}

.container{
    background-color: aquamarine;
    width: 500px;
    padding: 25px;
    margin-top: 55px;
    border: solid 2px black;
}
